<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/cartoes.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/partials-menulateral.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Cartões</title>
</head>
<body>
    <div class="container-master">
    <%- include('./partials/menuLateral') %>
    <div id= "container-direita">
        <h1>Meus cartões</h1>
        <div id="cartao-e-info">
          <div id="cartao">
            <p class="texto-cartao">Débito/Crédito</p>
            <p id="numero-cartao">****  ****  ****  ****</p>
            <p id="nome-no-cartao">Nome e Sobrenome</p>
          </div>
          <div id="info-cartao">
            <p>Limite: R$ 10000</p>
            <p>Vencimento da fatura: dd/mm/aa </p>
          </div>
        </div>
        <% cartao.forEach(dadocartao => { %>
        <div id="cartao-e-info">
            <div id="cartao">
              <p class="texto-cartao">Débito/Crédito</p>
              <p id="numero-cartao">****  ****  ****  <%= dadocartao.cartaoDigitos %> </p>
              <p id="nome-no-cartao"> <%= dadocartao.cartaoNome %> </p>
            </div>
            <div id="info-cartao">
              <p>Limite: R$ <%= dadocartao.limite %></p>
              <p>Vencimento da fatura: <%= dadocartao.dataPagamento %>  </p>
            </div>
          </div>
          <% }) %>
        <div id="cadastrar-cartao">
            <h2>Ainda não tem cartões cadastrados? <a id="cadastro-link"onclick="location.href='/index/cadastro-cartoes'">Cadastre aqui.</a></h2>
        </div>
    </div>
</div>
</body>
</html>